<footer>
    <div class=" py-2 mt-5 footer">
        <div class="row d-flex justify-content-center align-items-center p-5">
            <div class="  col-lg-3 my-3 my-lg-0 col-12"> 
                <img src="../../assets/TarrfWebsite/Logos/tarff-logo-new 1.png">
                <div class="col-content">Tarff Valley is an Agricultural Merchant supplying farmers and the rural community across Southern Scotland, Northern England and Ayrshire with a wide range of quality products and services. As Scotland’s</div>
            </div>

            <div class="col-lg-3 my-3 my-lg-0 col-12">
                <div class="col-head">Contact</div>
                <div class="col-content">
                    Old Station Yard
                   Ringford
                Castle Douglas
                DG7 2AN
                Telephone 01557 820247
            Fax 01557 820249
            Email: reception@tarffvalley.co.uk
                </div>
            </div>
            <div class="col-lg-3 my-3 my-lg-0 col-12 ">
                <div class="col-head">Important Documents</div>
                <div class="col-content">
                    Terms and ConditionsOpen Mill PolicyData Protection 
                    GDPR 2018 POLICY
                    Fertiliser
                    COVID-19 TRANSPORT RISK ASSESSMENT
                    COVID-19 HOMEWORKING POLICY
                    COVID-19 RETURNING TO WORK POLICY
                    COVID-19 RISK ASSESSMENT
                    Lambing Order Form 2021
                    Lambing Order Form 2021 (Dumfries)
                </div>
            </div>
            </div>
            <div class="footer-end">
                <div class="d-flex justify-content-between mt-2 ps-3 pe-5">
                    <div class="end-text ">
                        Tarff Valley Limited | Website @ CSU Web Design
                    </div>
                    <div class=" social-media d-flex justify-content-center">
                        <a href="https://www.facebook.com/tarff.valley/" class="icon-link"><img src="../../assets/TarrfWebsite/Icons/SVG/facebook-app-symbol.svg"class="social-icon"/></a>
                        <a href="https://twitter.com/TarffValley" class="icon-link"><img src="../../assets/TarrfWebsite/Icons/SVG/twitter (1).svg"class="social-icon"/></a>
                        <a href="https://www.linkedin.com/company/tarff-valley" class="icon-link"><img src="../../assets/TarrfWebsite/Icons/SVG/linkedin.svg"class="social-icon"/></a>
                        <a href="https://www.instagram.com/tarffvalley/" class="icon-link"><img src="../../assets/TarrfWebsite/Icons/SVG/instagram (1).svg"class="social-icon"/></a>
                
                     </div>
                </div>
            </div>
        </div>
  
</footer>