<footer>
    <div class="container py-2 mt-5">
        <div class="row">
            <div class="col-4 my-3"> 
                <img src="../../assets/TarrfWebsite/Logos/tarff-logo-new 1.png">
                <div class="col-content">Tarff Valley is an Agricultural Merchant supplying farmers and the rural community across Southern Scotland, Northern England and Ayrshire with a wide range of quality products and services. As Scotland’s</div>
            </div>

            <div class="col-4 my-3">
                <div class="col-head">Contact</div>
                <div class="col-content">
                    Old Station Yard
                   Ringford
                Castle Douglas
                DG7 2AN
                Telephone 01557 820247
            Fax 01557 820249
            Email: reception@tarffvalley.co.uk
                </div>
            </div>
            <div class="col-4 my-3">
                <div class="col-head">Important Documents</div>
                <div class="col-content">
                    Terms and ConditionsOpen Mill PolicyData Protection 
                    GDPR 2018 POLICY
                    Fertiliser
                    COVID-19 TRANSPORT RISK ASSESSMENT
                    COVID-19 HOMEWORKING POLICY
                    COVID-19 RETURNING TO WORK POLICY
                    COVID-19 RISK ASSESSMENT
                    Lambing Order Form 2021
                    Lambing Order Form 2021 (Dumfries)
                </div>
            </div>
            </div>
        </div>
  
</footer>