//First Section Styles
.first-section{
    background:url('../../assets/TarrfWebsite/Image/main.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
     /* Header Animation */
     @keyframes word-by-word-animation {
      0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .header-animate {
      animation: word-by-word-animation 1s ease-in-out forwards;
      animation-delay: calc(1s * var(--word-index));
    }
    
    .header-animate:nth-child(1) {
      --word-index: 0;
    }
    .header-animate:nth-child(2) {
      --word-index: 1;
    }
    .header-animate:nth-child(3) {
      --word-index: 2;
    }
    .header-animate:nth-child(4) {
      --word-index: 3;
    }
    .header-animate:nth-child(5) {
      --word-index: 4;
    }
    .header-animate:nth-child(6) {
      --word-index: 5;
    }
    
    .first-section-header{
      font-family: 'Lemon',sans-serif;
      font-size: 64px;
      font-weight: 400;
      line-height: 84px;
      color:#FFFFFF;
    visibility: hidden;
    
    }
  

    .first-section-text{
      font-family: 'League Spartan','Lato',sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      color:#FFFFFF;
      width: 60%;
    
    
    
    }
    .read-more{
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color:#D81200;
    }
    .icon-link{
      border-radius: 50%;
      position: relative;
      background-color: rgba(0, 0, 0, 0.39);
      width: 37px;
      height: 37px;
      margin-right: 5px;
      margin-top: 100px;
    }
    .social-icon{
      width: 24px;
      height: 24px;
      position: absolute;
      top: 7px;
      left: 6px;
    }
    .social-icon:hover{
      scale:1.2;
    }
    
   }
    //Second Section Styles
   .second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
    
    
  .view-all{
    font-family:'Lato';
    font-size: 24px;
   display: flex;
   justify-content: flex-start;
  
  }
  

  .view-all:hover{
    color:#D81200;
    fill:#D81200;
    .view-icon{
      fill:#D81200;
    }
  }
 
  
  
  .card-title{
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 600;
    color:#FFFFFF;
    position: absolute;
    bottom: 70px;
    left: 16px;
}

  
 
.carousel-nav {
  position: absolute;
  top: 1281px;
  border-radius: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .carousel-nav-prev {
    left: 50px;
    background-color: #FFFFFF;
    border: solid #D81200 2px;
  }
  
  .carousel-nav-next {
    right:50px;
    background-color: #D81200;
  }
  .carousel-card:hover{
    .card-title{
      font-size: 22px;
    }
    .card-container::after{
      content:"Read More";
      position: absolute;
      bottom: 20px;
      left: 2px;
      font-size: 20px;
      font-weight: 600;
      color:#FFFFFF;
      text-decoration: underline;
      transition: opacity 0.3s ease-in-out;
    }
  }
   .all-products{
    background-color: #D81200;
    width: 380px;
    height: 42px;
    color: #FFFFFF;
   }
   
  }


  //Third section Style

  .third-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    .secondry-section-text{
      width: 85%;
    }
  .section-content{
    height: 600px;
    background-color: rgba(216, 18, 0, 0.14);
  }
  .col-align{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-img{
    background-color: #D81200;
    height: 90px;
    width: 95px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    .svg-img-hover{
      display: none;
    }
  }
  .col-img:hover{
    background-color: #FFFFFF;
    .svg-img-hover{
      display: block;
    }
    .svg-img{
      display: none;
    }
  }
  
  .col-title{
    
font-family: 'Lato';
font-size: 32px;
font-weight: 400;
line-height: 38px;
margin:10px;
text-align: center;

  }
  .col-content{
font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;


  }
  }

  //fourth section style 
  .fourth-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    .secondry-section-text{
      width: 88%;
    }
  }

  .fifth-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .secondry-section-text{
      width: 80%;
    }
    .location-card{
      width: 488px;
      height: 99px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 23px 15px;
        background: #FFFFFF;
      box-shadow: 0px 32px 45px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        margin-top: 10px;
        
    }
    .location-arrow{
      width: 34px;
      height: 34px;
      background-color: #D81200;
    }
    .frame-class{
      width:600px;
       height:450px;
   }
  }

  //sixith section 
  .sixith-section{
    background:url('../../assets/TarrfWebsite/Image/login.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .form-container{
      height: 595px;
      width: 590px;
      border-radius: 20px;     
background: rgba(112, 112, 112, 0.59);
box-shadow: 0px 24px 48px -12px rgba(85, 105, 135, 0.06);
display: flex;
flex-direction: column;
.form-elements {
  width: 70%;
  margin-left: 30px;
  margin-top: 60px;
}
.submit-button{
  background-color: #FFFFFF;
  color: #D81200;
  font-size: 24px;
  width: 380px;
  height: 50px;
  margin-top: 100px;
  margin-left: 100px;
}

    }
    .header{
      font-family: 'Lemon';
      font-size: 32px;
      font-weight: 400;
      line-height: 42px;
      color: #FFFFFF;
      margin-top: 200px;
      margin-left: 50px;

    }
    .sub-header{
      font-family: 'Lato';
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      margin-left: 50px;

color:white;
.span-color{
  color:#D81200;
}
    }
  }
//common styles
  .main-header{
    font-family: 'Lato';
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
  }
  .main-header::after{
    position: absolute;
    content: "";
    bottom: 0;
    left:35%;
    width: 100px;
    height: 2px;
    border-radius: 5px;
    background-color: #D81200;
  }
  .secondry-section-text{
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    color:#707070;

}
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-card {
  flex: 0 0 calc(100% / 4);
  margin-right: 20px;
  height: 330px;
  width: 305px;
  border-radius: 6px;

}
.carousel-card:last-child {
  margin-right: 0;
}

.carousel-container:hover .carousel-track {
  transform: translateX(-25%);
}

@media screen and (max-width: 720px) {
  .carousel-card {
    flex: 0 0 calc(100% / 2);
  }

  .carousel-container:hover .carousel-track {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 720px) {

  .first-section{
    height: 600px;

    .first-section-header{
          font-size: 32px;
       
    }
    .first-section-text{
      font-size: 18px;
    }
    .read-more{
      font-size: 16px;
    }
  }
  .third-section{
    .section-content{
      height: 800px;
    }
    
  }
  .main-header{
    font-size: 36px;
  }
  .secondry-section-text{
    font-size: 18px;
  }
  .fifth-section{
  .location-card{
    margin-left: 50px;
  }
 
  }
  .sixith-section{
    height: 900px;
    .form-container{
      height: 500px;
      width: 400px;
      margin-left: 50px;
      .submit-button{
        font-size: 20px;
    width: 300px;
    height: 50px;
    margin-top: 70px;
    margin-left: 50px;
  
      }
    }
    .sub-header{
      font-size: 20px;
    }
  }
}
